$font-stack:sans-serif;
$primary-color:red;
$bg-color:blue;
$div-color:lightblue;


body{
    font: $font-stack;
}

h1{
    background-color: $bg-color;
    color: $primary-color;
}

p{
    background-color: $div-color;
}
div h2{
    background-color: $div-color;
}
