%col-msg{
    height: 200px;
    width: 200px;
    border: 20px solid green;
    color: aqua;
    font-size: 30px;
}

.main{
    background:linear-gradient(red,blue,green);
    @extend %col-msg;
}
.img{
    height: 300px;
    width: 300px;
    background-color: aqua;
    border-radius: 50%;
    @extend %col-msg;
}
.p{
    @extend %col-msg;
}

   

