button {
  font-size: 40px;
  background-color: #ff0000;
}
div button {
  color: #008080;
  border-radius: 10px;
  background: hsl(90, 80%, 50%);
}
div button:hover {
  background: hsl(90, 80%, 70%);
}
