%border-message{
    border: 2px solid #dd4545;
    padding: 20px;
    color: #333;
}
.message{
    @extend %border-message;
    background-color: lightcoral;
}

.meassge2{
    @extend %border-message;
    background-color: lightgreen;
}